h1 {
    font-family: Helvetica;
    font-size: 80px;
    color:rgb(188, 31, 31);
    text-align: center;
    background-color: rgb(104, 155, 79);
    font-style: italic;
    font-weight: 800;
}
body {
    color:black;
    background-image: url("save water save earth.jpg");
}

   

                                                                                                                             